:root {
    --background:#1F2937;
    --buttoncolor:#3882F6;
    --quote:#E5E7EB;
    --textcolor: #F9FAF8;
}

*{
    
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 40rem;
    background-color: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;

    }
header {
    display: flex;
}
/* .header is the h1 element */
.header {
    color: var(--textcolor);
    font-size: 24px;
    margin: 1rem 45rem 8rem 13rem;
}
ul{   
    color: var(--quote);
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 18px;
    margin: 1rem 13rem 8rem 8rem;
}
a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
div.hero{
   height: 30rem;
   width: 40rem;

}
.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: var(--textcolor);
    margin: 0 2rem 1rem 13rem;
}
.hero-description {
    font-size: 18px;
    color: var(--quote);
    margin: 0 2rem 1rem 13rem;
}
.hero-sign{
    font-size: 18px;
    font-weight: 900;
    background-color: var(--buttoncolor);
    color: var(--textcolor);
    border-radius: 7px;
    display: inline-block;
    border: none;
    padding: 0.5rem 1.5rem;
    margin: 1rem auto 10rem 13rem;

}
img {
    max-width: 100%;
    width: 40rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    top: 12rem;
    margin: auto 6rem;
}

.random{
    background-color: var(--textcolor);
    text-align: center;
    border: none;
    height: 30rem;
    width: auto;
    margin: none;
    padding: 0;
    
}
.allign{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 4rem;
}
.box {

    border: 3px solid #3882F6;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    }
.allign-par{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 37rem 10rem 37rem;
    
}
.par{
    width: 100px;
    height: auto;
    font-weight: 18px;
    color: #1F2937;
    gap: 3rem;
    margin: auto;
}
.citation{
    background-color: var(--quote);
    height: 13rem;
    width: auto;
    text-align: center;
    padding: 10rem 20rem;
    font-style: italic;
    font-weight:lighter;
    
}
.cit{
    font-size: 36px;
    color: var(--background);
}
.thor{
    font-size: 24px;
    font-weight: bold;
    color: var(--background);
    margin: 5rem 10rem 10rem 55rem;
}
.call{
    background-color: var(--buttoncolor);
    margin:10rem 20rem;
    border-radius: 5px;
    color: var(--textcolor);
    padding: 2rem 5rem;
}
.call-title{
    font-size: 24px;
    font-weight: bold;
}
.signup{
    font-size: 18px;
    font-weight:500;
}
.btn{
    border: 2px solid var(--textcolor);
    border-radius: 7px;
    background-color: var(--buttoncolor);
    color:var(--textcolor);
    position: absolute;
    width: 130px;
    height: 35px;
    left: 70%;
    top: 198%;
}